@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@1,100&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height:100%;
}
:root{
    font-size:13px;
}
body {
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
    height:100%;
}

::-webkit-scrollbar {
    display: none;
}

.cookiepopup {
    min-width: 100vw;
    min-height: 5vh;
    background: rgb(98, 98, 98, 0.85);
    position: fixed;
    bottom: 0;
    right: 0;
    padding:1.2rem 1.8rem;
    color:#fff;
    text-align: center;
}
.cookiebtn{
    background:rgb(35, 144, 5);
    border-radius: 5px;
    color:#c6bfbf;
    padding:0.6em 1em;
}
.cookiebtn:hover{
    background:rgb(25, 100, 4);
    transition: 0.3s;
}
.cookietitle{
    font-size:1.5rem;
}
.cookienotif{
    font-size: 1rem;
}
.cookienotif a{
    color:#11053b
}
/*Menu PAGE*/

.banner {
    width: 100vw;
    height: 40vh;
    background: url('../images/menu.jpg')center/cover no-repeat;
    background-repeat: no-repeat;
}

.banner-box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.932);
    font-size: 3em;
}

.menu-category {
    width: 100%;
    text-align: center;
    padding: 5% 10%;
}

.section-title {
    font-size: 3em;
    font-weight: 900;
    padding-bottom: 4em;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;

}

.category-title {
    font-size: 2.1em;
    font-weight: 900;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
}

.category-title:before,
.category-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid brown;
    margin: auto;
}

.category-title:before {
    margin-right: 20px
}

.category-title:after {
    margin-left: 20px
}

.food-title {
    font-size: 1.7em;
    font-weight: 900;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    float: left;
}

.food-price {
    font-size: 1.4em;
    font-weight: 900;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    float: right;
}

.food-description {
    font-size: 1.1em;
    font-weight: 900;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', sans-serif;
}

.title-price {
    width: 100%;
    display: inline-block;
}

.food-item {
    padding-bottom: 2em;
}

@media screen and (max-width:1100px) {

    .menu-category {
        width: 100%;
        text-align: center;
        padding: 5% 10%;
    }

    .section-title {
        font-size: 2.3em;
        font-weight: 900;
        padding-bottom: 3.5em;
        font-family: 'EB Garamond', serif;
        text-transform: uppercase;

    }

    .category-title {
        font-size: 1.8em;
        font-weight: 900;
        font-family: 'Lora', serif;
        text-transform: uppercase;
        padding-bottom: 2.3em;
    }

    .category-title:before,
    .category-title:after {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid brown;
    }

    .category-title:before {
        margin-right: 30px
    }

    .category-title:after {
        margin-left: 30px
    }

    .food-title {
        font-size: 1.5em;
        width: 70%;
        font-weight: 900;
        text-align: left;
        font-family: 'Lora', serif;
        text-transform: uppercase;
        padding-bottom: 0.8em;
        float: left;
    }

    .food-price {
        width: 30%;
        font-size: 1.1em;
        font-weight: 900;
        text-align: right;
        font-family: 'Lora', serif;
        text-transform: uppercase;
        float: right;
    }

    .food-description {
        font-size: 1em;
        text-align: left;
        font-weight: 900;
        width: 100%;
        text-align: left;
        text-transform: capitalize;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .title-price {
        width: 100%;
        display: inline-block;
    }

    .food-item {
        padding-bottom: 2em;
    }
}

/*INDEX PAGE*/

.index-header {
    display: flex;
    height: 100vh;
    background: url("../images/index.jpg") center/cover no-repeat fixed;
    margin-top: auto;
    margin-right: 0;
    z-index: -1;
    margin-bottom: 5px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 4em;
}

.hero .title {
    color: rgb(255, 255, 255, 0.9);
    font-size: 3em;
    overflow: hidden;
    text-align: center;
    padding-bottom: 8em;
    margin-top: 20vh;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 10px;
}

.hero .hours {
    color: rgb(255, 255, 255, 0.9);
    font-size: 1.8em;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 10px;
    text-align: center
}

@media screen and (max-width:890px) {


    .hero .title {
        color: rgb(255, 255, 255, 0.9);
        font-size: 2.5em;
        overflow: hidden;
        text-align: center;
        padding-bottom: 8em;
        margin-top: 20vh;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 10px;
    }

    .hero .hours {
        color: rgb(255, 255, 255, 0.9);
        font-size: 1.2em;
        font-family: 'Playfair Display SC', serif;
        letter-spacing: 10px;
        text-align: center
    }

    .index-header {
        background: url("../images/index.jpg") 70% center/cover no-repeat fixed;
    }
}


@media screen and (max-width:400px) {
    html {
        font-size: 10px;
    }
}

/*ABOUT US */

/*=======ABOUT US=====*/
#about {
    margin: 100px 30px;
    padding: 5px;
    width: auto;
    min-height: 50vh;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text""info info";
}

#about img {
    grid-area: image;
    width: 98%;
    height: auto;
}

.aboutus-box {
    grid-area: text;
    margin-top: 1.5rem;
    width: 98%;
    font-size: 1.1em;
    color: black;
    font-weight: 700;
    line-height: 3em;
}

.aboutus-box h2 {
    padding-bottom: 2rem;
    font-size: 3em;
}

.friendly-box {
    grid-area: info;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #fbfbfb;
    border-radius: 10px;
}

.icon {
    padding: 50px;
    font-size: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.icon i {
    font-size: 40px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: auto;
}

.about-btn {
    padding: 0.5rem 2rem;
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.about-btn:hover {
    transition: 0.5s;
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

@media screen and (max-width:1200px) {
    #about {
        grid-template-areas: "image image""text text""info info""info info";
        text-align: center;
    }

    .friendly-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:900px) {

    #about {
        grid-template-areas: "image image""text text""info info""info info""info info";
        text-align: center;
    }

    .about-btn {
        padding: 0.5rem 1.4rem;
        font-size: 0.7em;
    }

    .friendly-box {
        font-size: 0.7em;
        width: 100%;
        display: grid;
        grid-gap: 0.2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:700px) {

    #about {
        grid-template-areas: "image image""text text""info info""info info""info info""info info""info info""info info";
        text-align: center;
    }

    .about-btn {
        padding: 0.5rem 1.4rem;
        font-size: 0.7em;
    }

    .friendly-box {
        font-size: 0.7em;
        width: 100%;
        display: grid;
        grid-gap: 0.2rem;
        grid-template-columns: 1fr;
    }
}

/*BOOKING*/


.booking-body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background: url('../images/book.jpg') center/cover no-repeat;
}

.booking-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.8em;
}

.booking-form {
    color: #fff;
    background: #00000015;
    padding: 2rem 4rem;
    margin: auto;
    width: 60vw;
    min-height: 63vh;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.booking-form-line {
    width: 90%;
}

.booking-form-line input[type=text],
input[type=number],
input[type=password],
input[type=email] {
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    width: 100%;
}

.booking-form-line button[type=submit] {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem 3rem;
}


.booking-radio {
    width: 100%;
    padding: 1rem 2rem;
}

.booking-radio-single label {
    width: 85%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.booking-radio-single input {
    transform: scale(1.5);
    width: 15%;
    text-align: left;
    padding: 0;
    margin: 0;

}

.booking-form-line input:focus {
    outline: none;
}

.booking-form-line input {
    font-size: 1.2em;
    color: rgb(223, 223, 223);
}

@media screen and (max-width:900px) {
    .booking-form {
        color: #fff;
        background: #00000015;
        padding: 2rem 1rem;
        margin: auto;
        min-width: 80vw;
        min-height: 60vh;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .booking-radio-single {
        width: 50%;
    }

    .booking-radio-single label {
        width: 80%;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .booking-radio-single input {
        transform: scale(1.3);
        width: 20%;
        text-align: left;
        padding: 0 1rem;
        margin: 0;

    }
}

/*FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

footer {
    position: relative;
    bottom: 0;
    font-family: 'Playfair Display SC', serif;

}

.footer-distributed {
    background-color: #1c1c1c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 55px 50px;
    margin-top: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #1c1c1c;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #1c1c1c;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media screen and (max-width: 880px) {

    .footer-distributed {
        font: bold 14px;
        display: flex;
        flex-direction: column;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

    .main {
        line-height: normal;
        font-size: auto;
    }
}

.contactinfo {
    color: white;
    text-decoration: none;
}

.author {
    background-color: #1b1c1b;
    left: 0;
    margin: 0;
    font-size: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    min-height: 5vh;
    text-align: center;
}

.author a {
    text-decoration: none;
    color: white;
}

.author a:hover {
    color: rgb(184, 181, 181);
    transition: 0.3s;
}

.select-time {
    width: 100%;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid white;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
}

.contact-body {
    position: relative;
    width: 100vw;
    min-height: 90vh;
    background: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form-body {
    width: 30vw;
    min-height: 70vh;
    background: rgba(223, 222, 222, 0.932);
    padding: 1rem 1.5rem;
}

.contact-form {
    display: inline-block;
    width: 100%;
}

input.contact-input {
    width: 100%;
    background: #fff;
    border: 1px solid #fafafa;
    padding: 0.4em 0.5rem;
    margin-bottom: 15px;
}

.contact-status {
    font-size: 1.2rem;
    font-weight: 500;
    color: #ff0000
}

.contact-label {
    font-size: 1.1rem;
    padding-bottom: 2px;
}

.contact-textarea {
    width: 100%;
    background: #fff;
    border: 1px solid #fafafa;
    padding: 0.4em 0.7rem;
}

.contact-submit {
    margin-top: 20px;
    width: 100%;
    background: #27648a;
    color: #fff;
    padding: 0.5rem 0;
}

.contact-submit:hover {
    background: #3b97d0;
    transition: 0.4s;
}

@media screen and (max-width:1100px) {
    .contact-form-body {
        width: 80vw;
    }
}

@media screen and (max-width:850px) {
    .contact-form-body {
        width: 80vw;
    }
}

@media screen and (max-width:1400px) {
    .contact-form-body {
        width: 80vw;
    }
}

/*GALLERY*/
#index-gallery {
    overflow: hidden;
    width: 100vw;
    padding: 2rem 3rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

#index-gallery .gallery-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.gallery-image div {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image a {
    font-family: serif;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-image div:hover {
    opacity: 0.8;
    transition: all ease-in-out 500ms;
}

/*Opened img*/
.img-window {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.img-window img {
    max-height: 80vh;
    width: auto;
    height: auto;
    max-width: 80vw;
    display: flex;
}

.img-btn-next {
    position: fixed;
    right: 10px;
    margin-right: -20px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.img-btn-prev {
    position: fixed;
    left: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.img-btn {
    color: none;
    font-size: 20vh;
    padding: 0 1rem;
    display: block;
    background: none;
    position: fixed;
    z-index: 2000;
    top: 35vh;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn:hover {
    color: black;
}

.img-desc {
    width: 100%;
    left: 0;
    bottom: 2vh;
    background: none;
    z-index: 1000000;
    text-align: center;
    position: fixed;
    color: white;
    font-size: 2rem;
    z-index: 100000000;
}

@media screen and (max-width:1100px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width:850px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (max-width:400px) {
    #index-gallery {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
